@font-face{
	font-family: "more-sugar-thin";
	src: url("../fonts/MoreSugar-Regular.otf");
}

body, html, .container{
	height: 100%;
}
body{
	background-image: url(../img/BgAbout.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
}
.container{
	display: grid;
	grid-template-areas:
	'header'
	'bcenter'
	'footer';
	grid-template-rows: auto 87.1% 10%;
	grid-template-columns: 100%;
	/* overflow: hidden; */

}
.header{
	z-index: 1;
	max-height: max-content;
	grid-area: header;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-around;
	align-content: center;
	margin: 1em;
	/* gap: 5.4em; */
	padding: 0.1em;

	
	border-radius: 4em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #EEF4F6;

}
/* .gap{
	color: peachpuff;
} */
.logo{
	padding-top: 1em;
}
#btn-login{
	height: 2rem;
	width: 4rem;
	background-image: url(../img/login.png);
	
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-signup{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/signup.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-logo{
	height: 4.5rem;
	width: 18rem;
	
	/* margin-top: 20px; */

	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-help{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/help.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-menu{
	height: 1.5rem;
	width: 3rem;
	background-image: url(../img/menu.png);

	
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}

#btn-later{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/feed.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}
button{
	cursor: pointer;
}
#btn-settings{
	height: 4rem;
	width: 4rem;
	background-image: url(../img/settings.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;

}

/* llllllllll */
.body{
	grid-area: bcenter;
	overflow: hidden;
}
.box-c{
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: span header/bcenter;
	grid-column: 1;
	overflow: hidden;
}
.box{
	rotate: 45deg;
	--size:70em;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: flex-start;
	height: var(--size);
	width: var(--size);
	background-image: linear-gradient(to left, #ffaaf8 0%, #c4c3f4 100%);
	--transize: 100% ;
	transform: translate(calc((var(--transize)*-1)), var(--transize));
	z-index: 0;
	border-radius: 20px;
	transition: all 1s;
}
.box-in{
	transition: all 1s;
	--transize: 40% ;
	transform: translate(calc((var(--transize)*-1)), var(--transize));
}
.text, .abt{
	color: white;
	text-align: center;
}
.text-c{
	rotate: -45deg;
	height: 50%;
	width: 55%;
	padding-top: 7em;
	padding-right: 3em;
	display: flex;
	flex-direction: column;
}
.text{
	width: 100%;
	font-family: "more-sugar-thin";
	font-size: 20px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #353e62;
}
.abt{
	font-family: "more-sugar-thin";
	font-size: 46px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #353e62;
}
/* lllllllllllll */

.footer{
	grid-area: footer;
	background-color: #c4c3f4;
	z-index: 1;
}
.visibi{
	height: 10em;
}