body, html, .container{
	height: 100%;
}

@font-face{
	font-family: "more-sugar-regular";
	src: url("../fonts/MoreSugar-Regular.otf");
}
@font-face{
	font-family: "more-sugar-thin";
	src: url("../fonts/MoreSugar-Thin.otf");
}
body{
	background-image: url(..//img/On-train.png);
	background-repeat: no-repeat;
	background-size: cover;
    margin: 0;
/*    font-size: 50px;*/
}

#ASK {
	color: #4E5674;
	font-size: 20px;
	padding-left: 7em;
    font-family: more-sugar-regular;
	width: 32em;
}

.search-text-container{
	grid-area: textS;
	display: grid;
	grid-template-columns: 50% 50%;
/*	padding-top: 1em;*/
	padding-left: 3em;
	padding-right: 3em;
}
#input{
	font-family: "more-sugar-regular";
	font-size: large;
	color: white;
	
}
.search {
	z-index: 1;
	grid-column: 1;
	grid-row: 1;
	margin: 0;
	padding: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}
.box{
	height: 30px;
	display: flex;
	padding:  10px 20px;
	background: #E1A6A5;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box:hover input{
	width: 310px;
	
}

.box input {
	width: 0;
	outline: none;
	border: none;
	font-weight: 500px;
	transition: 0.8s;
	background: transparent;
}
.box{
	color: white;
	font-size: 18px;
}
#search-button{
	background-image: url(../img/search-icon.png);
	background-position: left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 0;

}

#FAQTITLE {
	margin: 0;
text-align: center;
color: #B391FE;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #353E62;
font-size: 60px;
padding: 0;
padding-top: 0.5em;
}

/* llllllllllllll */

.container{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 87.1% 13%;
  	grid-auto-flow: row dense;
	box-sizing: border-box;
}

/* llllllllllllll */

.header{
	z-index: 1;
	max-height: max-content;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-around;
	align-content: center;
	margin: 1em;
	/* gap: 5.4em; */
	padding: 0.1em;

	
	border-radius: 4em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #EEF4F6;

}
.logo{
	padding-top: 1em;
}
#btn-login{
	height: 2rem;
	width: 4rem;
	background-image: url(../img/login.png);
	
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-signup{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/signup.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-logo{
	height: 4.5rem;
	width: 18rem;
	
	/* margin-top: 20px; */

	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-help{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/help.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-menu{
	height: 1.5rem;
	width: 3rem;
	background-image: url(../img/menu.png);

	
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;

}

#btn-later{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/feed.png);

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-settings{
	height: 4rem;
	width: 4rem;
	background-image: url(../img/settings.png);

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;

}

button{
	cursor: pointer;
}
/* llllllllll */

.footer{
	background: rgb(255,170,248);
	background: linear-gradient(0deg, rgba(255,170,248,1) 0%, rgba(196,195,244,1) 100%);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);

	height: 100%;
	padding: 0em 1em 0em .5em;

	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	grid-template-areas:
	'baggage about_us nature';
	align-items: center;
	justify-content: center;
	align-content: center;
}
.baggage-c{
	grid-area: baggage;
}
.about-c{
	grid-area: about_us;
	text-align: center;
}
.nature-c{
	grid-area: nature;
	text-align: right;
}
#img-baggage{
	height: 4em;
	width: 3em;
}
#btn-about{
	background-image: url(../img/about_us.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	height: 4em;
	width: 13em;
	cursor: pointer;
}
#img-nature{
	height: 4em;
	width: 5em;
}

body + a{
	text-decoration: none;
	color: black;
}
#ASK{
	display: flex;
	flex-direction: column;
	gap: .5em;
}

/* llllllllllllll */