@font-face{
	font-family: "more-sugar-thin";
	src: url("../fonts/MoreSugar-Regular.otf");
	}

body{
	font-family: "more-sugar-thin";
	color: #353e62;
    margin: 1em;
    margin-bottom: 2em;
	margin-left: 2em;
    font-size: 25px;
}
.bg{
	z-index: -10;
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}