body{
	margin: 0;
}
:root {
	--card_width: 250px;
	--card_border_radius: 16px;
	--row_increment: 10px;
	--card_small: 36;
	--card_medium: 43;
	--card_large: 55;
	--card_height:600px;
}
/* lllllllllllllllllllllllllllll */

.main-c{
	display: grid;
	grid-template-areas: 
	'header'
	'body-c'
	'footer';
	grid-template-rows: auto 87.1% 13%;
	grid-template-columns: 100%;
}

/* lllllllllllllllllllllllllllll */

/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/

.header{
	grid-area: header;
	z-index: 1;
	max-height: max-content;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-around;
	align-content: center;
	margin: 1em;
	/* gap: 5.4em; */
	padding: 0.1em;

	
	border-radius: 4em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #EEF4F6;

}
.logo{
	padding-top: 1em;
}
#btn-login{
	height: 2rem;
	width: 4rem;
	
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-signup{
	height: 2rem;
	width: 5rem;

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-logo{
	height: 4.5rem;
	width: 18rem;
	
	/* margin-top: 20px; */

	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-help{
	height: 2rem;
	width: 5rem;

	background-image: url(../img/help.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-menu{
	height: 1.5rem;
	width: 3rem;

	
	background-image: url(../img/menu.png);
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-later{
	height: 2rem;
	width: 5rem;

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-settings{
	height: 4rem;
	width: 4rem;

	background-image: url(../img/settings.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;
	cursor: pointer;

}




/* llllllllll */


/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/
/*llllllllllllllllllllllllllllll*/

/* lllllllllllllllllllllllllllll */

.body-c{
	display: grid;
	grid-area: body-c;
	grid-template-areas: 
	'textS'
	'cards';
}

/* cccc */

.search-text-container{
	grid-area: textS;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
}
.search {
	z-index: 1;
	grid-column: 1;
	grid-row: 1;
	margin: 0;
	padding: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
}
.box{
	height: 30px;
	display: flex;
	padding:  10px 20px;
	background: #E1A6A5;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box:hover input{
	width: 150px;
}

.box input {
	width: 0;
	outline: none;
	border: none;
	font-weight: 500px;
	transition: 0.8s;
	background: transparent;
}
.box{
	color: white;
	font-size: 18px;
}
#search-button{
	background-image: url(../img/search-icon.png);
	background-position: left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 0;
}

/* cccc */

#feed_text{
	background-image: url(../img/feed_text.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	height: 100%;
	/* width: 100%; */
	grid-column: 1/3;
	grid-row: 1;
}

/* cccc */

.feed_container {
	/* grid-area: cards;
	margin-top:10px;
	padding: 10px;
	width: 97%;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card_width));
	grid-auto-rows: var(--row_increment);
	justify-content: center; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: center;
} 
.card {
	padding: 0;
	margin: 15px 10px;
	border-radius: var(--card_border_radius);
	background-color: red;
	height: var(--card_height);
}
.card_small {
	width: var(--card_width);
	/* height: var(--card_height); */
	grid-row-end: span var(--card_small);
	background-color: #CCEFCC;
	overflow: hidden;
}
.card_medium {
	width: var(--card_width);
	/* height: var(--card_height); */

	grid-row-end: span var(--card_medium);
	background-color: #D9CFF8;
	overflow: hidden;
}
.card_large {
	/* height: var(--card_height); */
	width: var(--card_width);
	grid-row-end: span var(--card_large);
	background-color: #F8EDB7;
	overflow: hidden;
}

#add{
	cursor: pointer;
	background-color: #CCEFCC;
	background-image: url(../img/add_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: 50%;
	height: 100%;
	width: 100%;
	border: 0;
	border-radius: 20px;
}

/* lllllllllllllllllllllllllllll */

.footer{
	background: rgb(255,170,248);
	background: linear-gradient(0deg, rgba(255,170,248,1) 0%, rgba(196,195,244,1) 100%);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
	height: 100%;
	padding: 0em 1em 0em .5em;
	grid-area: footer;

	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	grid-template-areas:
	'baggage about_us nature';
	align-items: center;
	justify-content: center;
	align-content: center;
}
.baggage-c{
	grid-area: baggage;
}
.about-c{
	grid-area: about_us;
	text-align: center;
}
.nature-c{
	grid-area: nature;
	text-align: right;
}
#img-baggage{
	height: 4em;
	width: 3em;
}
#btn-about{
	background-image: url(../img/about_us.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	height: 4em;
	width: 13em;
	cursor: pointer;
}
#img-nature{
	height: 4em;
	width: 5em;
}

