body, html, .container{
	height: 100%;
}
body{
	margin: 0%;
	/* background-image: url(../img/bg.png); */
	background-size: cover;
	background-repeat: no-repeat;
}

/* llllllllll */

.container{
	display: grid;
	grid-template-areas:
	'header'
	'bcenter'
	'footer';
	grid-template-rows: 20% 80%;
	grid-template-columns: 100%;
}

/* llllllllll */

.header{
	z-index: 1;
	max-height: max-content;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-around;
	align-content: center;
	margin: 1em;
	/* gap: 5.4em; */
	padding: 0.1em;

	
	border-radius: 4em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #EEF4F6;

}
.logo{
	padding-top: 1em;
}
#btn-login{
	height: 2rem;
	width: 4rem;
	background-image: url(../img/login.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
}

#btn-signup{
	height: 2rem;
	width: 5rem;
	background-image: url(../img/signup.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-logo{
	height: 4.5rem;
	width: 18rem;
	
	/* margin-top: 20px; */

	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-help{
	height: 2rem;
	width: 5rem;

	background-image: url(../img/help.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-menu{
	height: 1.5rem;
	width: 3rem;

	
	background-image: url(../img/menu.png);
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-later{
	height: 2rem;
	width: 5rem;

	background-image: url(../img/feed.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
}

#btn-settings{
	height: 4rem;
	width: 4rem;


	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;


}

/* llllllllll */

.bcenter{
	display: grid;
}
.img3d-c{
	height: 100%;
	width: 100%;
	grid-column: 1/3;
	grid-row: 1/3;
}
#frame-3d{
	height: 95%;
	width: 100%;
	border: 0;
}
.btns-c{
	max-width: 15em;
	min-width: 15rem;
	z-index: 1;
	grid-column: 1;
	grid-row: 1;

	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: 1.5em 0em 0em 2em;
}


/* llllllllll */

.footer-grid{
	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	grid-template-areas:
	'baggage about_us nature';
}

@media screen and (max-width: 768px) {
	.footer-grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			'baggage about_us nature';
	}
}
footer{	

	background-color: #DDD8C9;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
}	
#baggage{
	grid-area: baggage;
	background-image: url(../img/baggage.png);
	width: 100%;
  	height: 5.313em;
	background-repeat: no-repeat;
	background-size: 80px 90px;
	background-position: left;
}
#nature{
	grid-area: nature;
	width:100%;
	height:100%;
	background-image: url(../img/nature.png);
 	background-repeat: no-repeat;
	background-size: 100px 85px ;
	background-position: right;
}
#about_us{
	grid-area: about_us;
	background-image: url(../img/about_us.png);
	background-repeat: no-repeat;
	background-size: 200px 80px;
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	background-position: center;
}
.btn-f{
	cursor: pointer;
}


