/* lllllllllllllllllllll */
.menu-c{
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
	z-index: 2002;
	display: flex;
	width: 20%;
	height: 100%;
	background-color: white;
	position: fixed;
	transition: all 1s;
	visibility: hidden;
	transform: translate(-100%, 0%);
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	overflow-y: auto;
	margin: auto;
	background-color: #EEF4F6;
	/* background-color: #353E62; */
	/* color: white; */

}
.menu-header{
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu-logo{
	object-fit: contain;
	width: 80%;
}
.menu-show{
	transform: translate(0%, 0%);
	visibility: visible;
}
.menu-close{
	background-image: url(../img/menu.png);
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	width: 3em;
	height: 3em;
	align-self: flex-end;
}
.content-c{
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 2em;
}
.menu-content{
	background-color: rgba(0, 0, 0, 0);
	/* border-bottom: 1px solid #353e62; */
	box-shadow: 0px 1px 1px 0px rgba(45, 26, 97, 0.6);
	height: 3.3em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	/* color: white; */
	color: black;
	transition: all 1s;
}

.menu-content:hover{
	background-color: lightgray;
}

a {
	text-decoration: none;
	color: black;
}

.dropdown{
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .5em;
	gap: 1em;
	background-color: white;
	height: 3em;
	width: 3em;
	z-index: 3;
	right: 3.8em;
	top: 1em;
	transition: all .5s;
	visibility: collapse;
	transform: scale(0);
	
}

.visibi{
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: .5em;
	gap: 1em;
	background-color: #EEF4F6;
	height: 12.5em;
	width: 5em;
	z-index: 3;
	right: 3em;
	top: 1em;
	transform: scale(1);
	visibility: visible;
	border-radius: 16px;
}
.drop-con{
	box-shadow: 0px 1px 1px 0px rgba(45, 26, 97, 0.6);
	width: max-content;
	text-align: center;
}

#btn-setting{
	height: 4rem;
	width: 4rem;

	background-image: url(../img/settings.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;
	cursor: pointer;

}

.btn-settings{
	transition: all 1s;
	transform: scale(1);
}
.invis{
	transform: scale(0);
	visibility: hidden;
}

.bp-con{
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.pen_ed{
	cursor: pointer;
}
.bookmark {
	display:none;
	cursor: pointer;
}

.bookmark + label{
	background-image: url(../img/not_book.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	display:inline-block;

	cursor: pointer;
}

.bookmark:checked + label{
	background-image: url(../img/clicked_book.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	display:inline-block;
	cursor: pointer;
}
.bookmarks {
	display:none;
	cursor: pointer;
}

.bookmarks:checked + label{
	background-image: url(../img/not_book.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	display:inline-block;

	cursor: pointer;
}

.bookmarks + label{
	background-image: url(../img/clicked_book.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 3em;
	width: 3em;
	display:inline-block;
	cursor: pointer;
}