@font-face{
	font-family: "more-sugar-regular";
	src: url("../fonts/MoreSugar-Regular.otf");
}

@font-face{
	font-family: "more-sugar-thin";
	src: url("../fonts/MoreSugar-Thin.otf");
}

:root {
	--card_width: 310px;
	--card_border_radius: 16px;
	--row_increment: 10px;
	--card_small: 36;
	--card_medium: 43;
	--card_large: 55;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
/* .img_border{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
    width: calc( var(--card_width) - 200em);
    height: 100%;
    border-radius: var(--card_border_radius);
    border: 1px solid black;
} */
/* .img_large{
    object-fit: fill;
    border-radius: var(--card_border_radius);
    height: 30em;
}
.img_med{
    object-fit: fill;
    border-radius: var(--card_border_radius);
    height: 25em;
}
.img_small{
    object-fit: fill;
    border-radius: var(--card_border_radius);
    height: 20em;
} */
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookmark + label{
    align-self: flex-start;
}
.bookmarks + label{
    align-self: flex-start;
}
/* .card_small {


}
.card_medium {

}
.card_large {

} */
:root{
    --lines:4;
}
.place_img{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    height: 50%;
    width: 70%;
    border-radius: var(--card_border_radius);
    border: 2px solid white;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    
}
.Ftitle_img{
    font-family: "more-sugar-regular";
    font-weight: bolder;
	color: #353e62;
	font-size: 20px;
    text-align: center;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.Ftext_desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    font-family: "more-sugar-thin";
	color: #353e62;
    width: 80%;
	font-size:20px;

    text-align: center;
}
.utitle_img{
    font-family: "more-sugar-regular";
    font-weight: bolder;
	color: #353e62;
	font-size: 20px;
    text-align: center;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.utext_desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    font-family: "more-sugar-thin";
	color: #353e62;
    width: 80%;
	font-size:20px;

    text-align: center;
}
.title_img{
    font-family: "more-sugar-regular";
    font-weight: bolder;
	color: #353e62;
	font-size: 20px;
    text-align: center;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.text_desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    font-family: "more-sugar-thin";
	color: #353e62;
    width: 80%;
	font-size:20px;

    text-align: center;
}