html, body, .container{
    height: 100%;
}

body{
	margin: 0px;
}

@font-face{
	font-family: "more-sugar-thin";
	src: url("../fonts/MoreSugar-Thin.otf");
}

.container{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 87.1% 13%;
	grid-auto-flow: row dense;
	grid-auto-flow: column dense;

}

.header{
	z-index: 1;
	max-height: max-content;

	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-around;
	align-content: center;
	margin: 1em;
	/* gap: 5.4em; */
	padding: 0.1em;

	
	border-radius: 4em;
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #EEF4F6;

}
.logo{
	padding-top: 1em;
}
#btn-login{
	height: 2rem;
	width: 4rem;
	
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
}

#btn-signup{
	height: 2rem;
	width: 5rem;

	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;

}

#btn-logo{
	height: 4.5rem;
	width: 18rem;
	
	/* margin-top: 20px; */

	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-help{
	height: 2rem;
	width: 5rem;

	background-image: url(../img/help.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-menu{
	height: 1.5rem;
	width: 3rem;

	
	background-image: url(../img/menu.png);
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;

}

#btn-later{
	height: 2rem;
	width: 5rem;

	background-image: url(../img/feed.png);
	background-size: contain;
	background-position: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
}

#btn-settings{
	height: 4rem;
	width: 4rem;


	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: transparent;

}



/*
#############################################
#############################################
#############################################
#############################################
#############################################
#############################################
*/
.center_body{
	display: grid;
	grid-auto-columns: 1fr 60px 100px 1fr;
	grid-template-rows: 5% 10% repeat(3, 25%);
	grid-template-areas:
	'......   ......   ......   ......'
	's-text   s-text   s-text   s-text'
	'FName FName ......      ContactNo'
	'Username Username ...... Password'
	'Email Email ......         Password';
	padding: 0% 2% 0% 4%;
}
.s-text-c{
	height: 100%;
	grid-area: s-text;
	display: flex;
	justify-content: center;
}
#s-text{
	height: 100%;
}

/* lllllllllllllllllllllllllllll */

.input{
	/* background-image: url(../img/inputBG.png);
	background-size: 99% 98%;
	background-repeat: no-repeat;
	background-position: center; */
	outline: 0;
	border: 5px solid #D8728C;
	border-radius: 1000px;
	background-color: #AFAEE4;
	text-align: center;
	
	font-family: "more-sugar-thin";
	color: #353e62;
	font-size: 25px;
}
/* first name box */
.FName{
	grid-area: FName;
/* ################## */
	display: grid;
	grid-template-columns: 5%;
	grid-template-areas:
	'text text ......'
	'input input input';
	grid-template-rows: auto 1fr;
}
.text-con-FName{
	grid-area: text;
}
#text-FName{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-FName{
	grid-area: input;
}

/* username box */

.username{
	grid-area: Username;
/* ################## */
	display: grid;
	grid-template-columns: 5% auto auto 30%;
	grid-template-areas:
	'text text ...... ......'
	'input input input ......';
	grid-template-rows: auto 1fr;
}
.text-con-uname{
	grid-area: text;
}
#text-uname{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-uname{
	grid-area: input;
}

/* email box */

.emailAdd{
	grid-area: Email;
/* ################## */
	display: grid;
	grid-template-columns: 5% auto auto 10%;
	grid-template-areas:
	'text text ...... ......'
	'input input input ......';
	grid-template-rows: auto 1fr;
}
.text-con-emailAdd{
	grid-area: text;
}
#text-emailAdd{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-emailAdd{
	grid-area: input;
}

/* contactNo box */

.contactNo{
	grid-area: ContactNo;
/* ################## */
	display: grid;
	grid-template-columns: 15% 5% auto auto 10%;
	grid-template-areas:
	'...... text text ...... ......'
	'......   input input input input';
	grid-template-rows: auto 1fr;
}
.text-con-contactNo{
	grid-area: text;
}
#text-contactNo{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-contactNo{
	grid-area: input;
}

/* password box */

.password{
	grid-area: Password;
/* ################## */
	display: grid;
	grid-template-columns: 15% 15% auto auto 10%;
	grid-template-areas:
	'. . . . .'
	'textpass      textpass    inputpass    inputpass    inputpass'
	'textconpass   textconpass inputconpass inputconpass inputconpass'
	'. . Submit Submit Submit';
	grid-template-rows: 10% 30% 30% 30%;
	row-gap: 15px;
}
.text-con-password{
	grid-area: textpass;
}
#text-password{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-password{
	grid-area: inputpass;
}
.text-con-conpassword{
	grid-area: textconpass;
}
#text-conpassword{
	--tc:#353e62;
	display: contents;
	/* grid-area: text; */

	font-family: more-sugar-thin;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--tc);
	font-size: 30px;
	color: white;
}
.input-conpassword{
	grid-area: inputconpass;
}

/* submit */
.submit{
	grid-area: Submit;
	display: grid;
	grid-template-areas: 
	'. button'
	'. button';

	text-align: right;
}

.btn-con{
	grid-area: button;
}
.btn-wrap{
	display: contents;
}

#btn-submit{
	background-image: url(../img/submit.png);
	background-position: center;
	background-size: 100% 100%;
	background-color: transparent;
	border: 0;
	height: 80px;
	width: 100%;
	grid-area: button;
	cursor: pointer;
}
/*
#############################################
#############################################
#############################################
#############################################
#############################################
#############################################
*/
/* llllllllll */

.footer{
	background: rgb(255,170,248);
	background: linear-gradient(0deg, rgba(255,170,248,1) 0%, rgba(196,195,244,1) 100%);
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);

	height: 100%;
	padding: 0em 1em 0em .5em;

	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	grid-template-areas:
	'baggage about_us nature';
	align-items: center;
	justify-content: center;
	align-content: center;
}



.baggage-c{
	grid-area: baggage;
}
.about-c{
	grid-area: about_us;
	text-align: center;
}
.nature-c{
	grid-area: nature;
	text-align: right;
}
#img-baggage{
	height: 4em;
	width: 3em;
}
#btn-about{
	background-image: url(../img/about_us.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	height: 4em;
	width: 13em;
	cursor: pointer;
}
#img-nature{
	height: 4em;
	width: 5em;
}